<style>
    .services {
        background-color: var(--background-color2);
    }

    .production-services-grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px 20px
    }

    @media screen and (max-width: 1000px) {
        .production-services-grid {
            grid-template-columns: 1fr;
        }
    }

    .service {
        height: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
        padding: 20px;
        color: var(--text-dark);
        transition: 0.3s ease!important;
        background-size: 100%!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
    }
    .service:hover {
        color: var(--text-dark);
        box-shadow: 0 0 40px rgba(0, 0, 0, 30%);
        background-size: 105%!important;
    }

    .service-content {
        background-color: white;
        padding: 20px;
        transform: translateY(100px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
        z-index: 10;
    }

    .service-icon {
        fill: var(--text-light);
    }

    #production-service1 { background: url("/img/backgrounds/formations.jpg");}
    #production-service2 { background: url("/img/backgrounds/stages.jpg");}
    #production-service3 { background: url("/img/backgrounds/miseenrelation.jpg");}
    #production-service4 { background: url("/img/backgrounds/location.jpg");}

</style>

<section id="services" class="services">
    <div class="title column aic gap20">
        <h2>Nos services</h2>
        <p>Nous offrons aux experts de l’audiovisuel une gamme complète de services pour simplifier leur processus de création.</p>

    </div>

    <div class="production-services-grid">

        <a id="production-service2" class="service" href="{{ path('app_miseenrelation') }}">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Base de donnée de professionnels</h4>
                </div>
                <p>
                    Grâce à notre base de données, nous simplifie la mise en contact des porteurs de projets,
                    des professionnels et des passionnés du secteur de Charente-Maritime.
                </p>
            </div>
        </a>

        <a id="production-service3" class="service" href="{{ path('app_locations') }}">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Accompagnement des jeunes réalisateurs</h4>
                </div>
                <p>
                    Nous accompagnons les jeunes réalisateurs dans leur processus créatif en leur partageant notre
                    experience du métier.
                </p>
            </div>
        </a>

        <a id="production-service1" class="service" href="/formations">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Salles de casting et bureaux de productions</h4>
                </div>

                <p>Rencontrez et auditionnez des acteurs et des actrices dans l'une de nos salles de casting.</p>
            </div>
        </a>

        <a id="production-service4" class="service" href="{{ path('app_locations') }}">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Location de matériels</h4>
                </div>
                <p>Nous louons du matériel de prise de vue et de capture du son.</p>
            </div>
        </a>

    </div>

</section>


