<style>

</style>

<section class="flex flex-col">
    <div class="flex justify-between items-end gap-4 mb-8">
        <h2 class="text-3xl font-bold">L'actualité de Coolisses</h2>
        <div class="flex gap-8">
            <a class="text-lg font-medium hidden lg:block hover:underline" href="/actualites" >Actualites</a>
            <a class="text-lg font-medium hidden lg:block hover:underline" href="/actualites" >Formations</a>
            <a class="text-lg font-medium hidden sm:block hover:underline" href="/actualites" >Voir tout</a>
        </div>

    </div>
    {% if actualites is defined %}
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
            {% for actualite in actualites %}
                {% include 'actualite/actualiteCard.html.twig' with {'actualite': actualite} %}
            {% endfor %}
        </div> 
    {% endif %}


</section>
