{% extends 'base.html.twig' %}

{% block meta_tags %}
    <meta name="description" content="Page d'accueil du site de Coolisses, l'association rochelaise de professionnels du cinéma">
    <meta name="keywords" content="coolisses, association, cinema, la rochelle">
    <meta name="robots" content="index, follow">

    <!--meta og:description -->
{% endblock %}

{% block title %}Bienvenue sur le site de l'association Coolisses!{% endblock %}

{% block body %}
    <style>


    </style>
    {# {% include 'accueil/dialogbox.html.twig' %} #}
    <div class="px-8">
        {% include 'accueil/hero.html.twig' %}
        {% include 'accueil/services.html.twig' %}
        {% include 'accueil/actualite.html.twig' %}
        {% include 'accueil/partenaires.html.twig' %}
        {% include 'accueil/contact.html.twig' %}
    </div>


    <script src="https://www.youtube.com/iframe_api"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const showVideoButton = document.getElementById('show-video-btn');
            const video = document.getElementById('video');

            let showVideo = false

            showVideoButton.addEventListener('click', () => {
                showVideoButton.style.display='none'
                showVideo = true
                video.style.display='flex'
            })

        });

    </script>




{% endblock %}
