<style>
    .partenaire {
        height: 70px;
    }

    .partenaire-row {
        flex-wrap: wrap;

    }

    .partenaire img {
        filter: grayscale(100%) opacity(80%);
        transition: filter 0.3s ease;
        height: 60px;
        width: auto;
        margin: 10px;
    }
    .partenaire img:hover {
        filter: none;
    }
</style>

<section class="partenaires column aic gap20">
    <div class="title">
        <h2>Nos partenaires</h2>
    </div>
    {% if partenaires is defined %}
    <div class="partenaire-row row jcc aic gap20">
        {% for partenaire in partenaires %}
            <a {% if partenaire.lien %} href="{{ partenaire.lien }}" target="_blank" {% endif%} class="partenaire">
                <img src="{{ vich_uploader_asset(partenaire, 'imageFile') }}" alt="image">
            </a>
        {% endfor %}
    </div>
    {% endif %}

</section>