<style>

    .video-section {
        display: none;
        height: 100%;
        width: 100%;
    }
    .ytb-video,
    .show-video-btn{
        width: 100%;
        height: auto;
        min-height: 400px;
    }


    .show-video-btn {
        background: url("/img/backgrounds/cinema.jpg") center;
        background-size: cover;
    }
    .ytb-btn {
        height: 100px;
        transition: 0.3s ease;
    }
    .show-video-btn:hover .ytb-btn {
        transform: scale(1.2);
    }


</style>


<section class="whoareus">
    <div class="dual-grid gap80">
        <div id="texte" class="column jcc gap20">
            <div class="little-title">
                <h2>En quelques mots</h2>
            </div>

            <p class="big-text">
                Coolisses est une association rochelaise de professionnels du cinéma.
                Nous mettons à disposition de nos membres une gamme variée de services visant à simplifier
                leur processus de production cinématographique.
                Nous sommes convaincus que la meilleure façon de présenter une idée est la vidéo.
                Pour mieux comprendre l’association, n’hésitez pas à visualiser notre film de présentation.
            </p>
            <div class="btn-row">
                <a href="{{ path('app_adherer') }}" class="cta">Adhérer
                    <svg class="icon service-icon arrow arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                </a>
                <a href="{{ path('app_contact') }}">Nous contacter</a>
            </div>

        </div>
        <div>
            <a id="show-video-btn" class="show-video-btn column aic jcc">
                <svg  class="ytb-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 728 728"><g style="opacity:0.3"><circle cx="364" cy="364" r="364" style="fill:#000000"/></g><circle cx="369" cy="364" r="256" style="fill:#fff"/><path d="M867,432.77929V594.32941a9.57869,9.57869,0,0,0,13.75249,8.62153l166.85164-80.77506a9.57869,9.57869,0,0,0,0-17.24306L880.75249,424.15776A9.57869,9.57869,0,0,0,867,432.77929Z" transform="translate(-581 -156)"/></svg>
            </a>
            <div id="video" class="video-section">
                <iframe class="ytb-video" src="https://www.youtube.com/embed/tzz5-dx3-iI?si=ZVGQwbMbmKUeZ_at" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>