<section class="flex justify-center">
    <div class="flex flex-col items-center gap-8 bg-[#eeeeee] w-fit p-8">
        <div class="flex gap-8">
            <a class=" w-96 bg-[#DD6031] p-4 flex flex-col gap-2 group outline-black hover:outline-2" href="">
                <div class="flex justify-between">
                    <span class="text-xl font-semibold">Trouver un casting</span>
                    <svg class="group-hover:rotate-360 transition-transform duration-300 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                </div>
                <p>Vous êtes à la recherche d'un comédien pour votre film? Vous êtes au bon endroit</p>
                <div class="h-48 bg-white"></div>
            </a>
            <a class="w-96 bg-[#E2EA8A] p-4 flex flex-col gap-2 group outline-black hover:outline-2" href="">
                <div class="flex justify-between">
                    <span class="text-xl font-semibold">Trouver un comédien</span>
                    <svg class="group-hover:rotate-360 transition-transform duration-300 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                </div>
                <p class="">Vous êtes à la recherche d'un comédien pour votre film? Vous êtes au bon endroit</p>
                <div class="h-48 bg-white"></div>
            </a>

            <a class="text-white w-96 bg-[#1313BC] p-4 flex flex-col gap-2 group outline-black hover:outline-2" href=""><div class="flex justify-between">
                    <span class="text-xl font-semibold">Location</span>
                    <svg class="group-hover:rotate-360 transition-transform duration-300 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                </div>
                <p class="text-white">Salle de casting, bureaux de production et matériel professionnel</p>
                <div class="h-48 bg-white"></div>
            </a>
        </div>
        <a class="flex items-center gap-2 px-4 py-2 rounded-full border hover:outline hover:bg-[#D9DD92] border-black outline-black transition duration-300 cursor-pointer group">
            <svg class="size-6 group-hover:rotate-360 transition-transform duration-300 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
            <span class="text-xl font-medium leading-none">Afficher tous les services</span>
        </a>
    </div>

</section>
