<style>
    .services {
        background-color: var(--background-color2);
    }

    .services-grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px 20px
    }

    @media screen and (max-width: 1200px) {
        .services-grid {    grid-template-columns: 1fr 1fr; }
    }

    @media screen and (max-width: 800px) {
        .services-grid {    grid-template-columns: 1fr; }
    }

    .service {
        height: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
        padding: 20px;
        color: var(--text-dark);
        transition: 0.3s ease!important;
        background-size: 100%!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
    }
    .service:hover {
        color: var(--text-dark);
        box-shadow: 0 0 40px rgba(0, 0, 0, 30%);
        background-size: 105%!important;
    }

    .service-content {
        background-color: white;
        padding: 20px;
        transform: translateY(100px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
        z-index: 10;
    }

    .service-content p {
        text-align: left;
    }

    .service-icon {
        fill: var(--text-light);
    }

    #service1 { background: url("/img/backgrounds/formations.jpg"); }
    #service2 { background: url("/img/backgrounds/stages.jpg"); }
    #service3 { background: url("/img/backgrounds/miseenrelation.jpg"); }
    #service4 { background: url("/img/backgrounds/annuaire.jpg");   }
    #service5 { background: url("/img/backgrounds/formations.jpg");}
    #service6 { background: url("/img/backgrounds/location.jpg");   }
</style>

<section class="services">
    <div class="title column aic gap20">
        <h2>Nos services</h2>
        <p class="big-text">Nous vous proposons une gamme complète de services pour simplifier votre processus de création.</p>

    </div>

    <div class="services-grid">
        <a id="service1" class="service" href="/formations">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Formations pro</h4>
                </div>
                <p>Découvrez nos formations à destination des professionnels de l'audiovisuel.</p>
            </div>
        </a>

        <a id="service2" class="service" href="/stages">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Stages de découverte</h4>
                </div>
                <p>Plongez dans l'univers fascinant du cinéma grâce à nos stages de découverte, ouverts à tous&nbsp!</p>
            </div>
        </a>
        <a id="service3" class="service" href="/miseenrelation">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Base de donnée de professionnels</h4>
                </div>
                <p>Nous vous aidons à trouver des professionnels grâce à notre réseau d'experts.</p>
            </div>
        </a>

        <a id="service4" class="service">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Annuaire numérique (à venir)</h4>
                </div>
                <p>Retrouvez facilement les acteurs culturels de Charente Maritime !</p>
            </div>
        </a>

        <a id="service5" class="service">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Salles de casting et bureaux de production</h4>
                </div>
                <p>Rencontrez et auditionnez des acteurs et des actrices dans l'une de nos salles de casting.</p>
            </div>
        </a>
        <a id="service6" class="service" href="/locations">
            <div class="service-content column gap10">
                <div class="row aic gap10">
                    <h4>Location de matériel</h4>
                </div>
                <p>Nous louons du matériel de prise de vue et de capture du son.</p>
            </div>
        </a>

    </div>
</section>