{% extends 'base.html.twig' %}

{% block meta_tags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block title %}Message envoyé!{% endblock %}

{% block body %}
    <style>


    </style>

    <section class="column gap80">
        <p  >
            Le message a bien été envoyé.<br>
            Nous vous recontacterons dans les plus brefs délais.<br>
            Cordialement,<br>
            L'équipe de Coolisses.
        </p>
        <a class="cta" href="/">Retourner à l'accueil
            <svg class="icon service-icon arrow-right arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
        </a>
    </section>

{% endblock %}
