<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu sur le site de l'association Coolisses!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        {% block meta_tags %}{% endblock %}
        {% block stylesheets %}
            <link href="/css/app.css" rel="stylesheet" />
            <link href="/css/service.css" rel="stylesheet" />
            <link href="/css/utils.css" rel="stylesheet" />
            <link href="/css/var.css" rel="stylesheet" />



        {% endblock %}

        {% block javascripts %}
            <script src="/js/accordion.js"></script>
            <script src="/js/nav.js"></script>
        {% endblock %}
    </head>

    <body>
        {% include 'components/header.html.twig' %}
            {% block body %}{% endblock %}
        {% include 'components/footer.html.twig' %}
    </body>

</html>