{% extends 'base.html.twig' %}

{% block meta_tags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <style>

    </style>

    <section class="column gap20">
        <div class="title">
            <h2>Mentions légales</h2>
        </div>
        <div class="column gap40">
            <div>
                <p>
                    Conformément aux articles 6-III et 19 de la loi pour la Confiance dans l’Économie Numérique,
                    nous tenons à vous notifier que : <br>

                    Ce site web est géré par Coolisses, dont le siège social se trouve à : <br>
                    13 Rue de l'Aimable Nanette, <br>
                    17000 La Rochelle, <br>
                    France <br>
                    <br>
                    Adresse e-mail : coolisses@wanadoo.fr <br>
                    Numéro de téléphone : +33 (0)5 46 41 88 99 <br>
                </p>
            </div>
            <div class="column gap20">
                <h4>Conception du site : </h4>
                <p>Tom Lavergne - Webmaster chez <a href="https://polygonagence.fr" target="_blank">Polygon agence digitale</a></p>
            </div>
            <div class="column gap20">
                <h4>Hébergeur du site Internet :</h4>
                <p>Hébergemeur du site : OVH SAS<br>
                    Siège social : 2 rue Kellermann - 59100 Roubaix - France
                </p>
            </div>
            <div class="column gap20">
                <h4>Protection des données personnelles :</h4>
                <p>
                    Conformément à la loi nº 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et
                    aux libertés, vous bénéficiez des droits d’opposition (article 26 de la loi),
                    d’accès (articles 34 à 38 de la loi) et de rectification (article 36 de la loi) concernant les
                    données vous concernant. Vous pouvez ainsi demander la mise à jour ou la suppression de données
                    inexactes, incomplètes, équivoques, périmées ou dont la collecte, l’utilisation, la communication
                    ou la conservation sont interdites. Pour exercer ces droits, veuillez contacter le concepteur du site
                    à l’adresse e-mail tom@polygonagence.fr
                </p>
            </div>
            <div class="column gap20">
                <h4>Droits d’auteur – copyrights :</h4>
                <p>
                    Toute reproduction ou représentation intégrale ou partielle sans le consentement explicite de
                    Coolisses est illégale et constitue une contrefaçon passible de sanctions pénales.
                    Toute reproduction autorisée doit respecter trois conditions : gratuité de la diffusion,
                    intégrité des documents reproduits (aucune modification ni altération), et mention claire et
                    lisible de la source « www.coolisses.asso.fr » (par exemple : « Ce document provient du site
                    Internet de Coolisses : www.coolisses.asso.fr. Les droits de reproduction sont réservés et
                    strictement limités. »).

                </p>
            </div>
            <div class="column gap20">
                <h4>Fonctionnement et contenu :</h4>
                <p>
                    Nous tenons à rappeler que le contenu du site Internet peut comporter des inexactitudes ou des
                    omissions, et qu’il est susceptible d’être modifié ou mis à jour dans de brefs délais.
                    <br>
                    Malgré tous les efforts déployés pour créer ce site Internet et le tenir régulièrement à jour,
                    des erreurs peuvent s’y être glissées dans les informations et/ou documents présentés.
                    Les utilisateurs du site sont donc invités à effectuer toutes les vérifications nécessaires.
                    Les informations disponibles sur ce site sont fournies à titre indicatif et n’ont aucun caractère
                    contractuel. Par conséquent, Coolisses décline toute responsabilité quant aux éventuels préjudices
                    directs ou indirects subis par les internautes suite à la consultation des informations contenues
                    sur ce site Internet.
                </p>
            </div>

        </div>
    </section>



{% endblock %}
